<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBg55_Nkp5TApD2IhTshxRbI8kTfdiuhJw</string>
	<key>GCM_SENDER_ID</key>
	<string>80407099125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mypfe</string>
	<key>PROJECT_ID</key>
	<string>mypfe-c9cca</string>
	<key>STORAGE_BUCKET</key>
	<string>mypfe-c9cca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80407099125:ios:dbd27a0484088c987937bc</string>
</dict>
</plist>